body {
    background-color: #ab7163;
    display:flex;
    min-height: 90vh;
    overflow: hidden;
}

.container {
    margin: auto;
    text-align: center;

}

.white-keys kbd {
    display: inline-block;
    width: 10vw;
    height: 50vh;
    max-width: 50px;
    max-height: 200px;
    background-color: #fff;
    border: 2px solid #000000;
    line-height:350px;
}

.black-keys kbd {
    display: inline-block;
    width: 30px;
    height: 30vh;
    max-width: 30px;
    max-height: 120px;
    background-color: #000000;
    color: white;
    line-height: 175px;
    margin: 0 24px 0 0;

}

.white-keys {
    position: absolute;
    z-index: -1;
}

.black-keys {
    margin: 0 0 0 40px;

}

#Tkey {
    margin: 0 24px 0 58px;
}



















